<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752802101996-8l8htpke2v8ul7h2i363d2amnel9cmmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752802101996-8l8htpke2v8ul7h2i363d2amnel9cmmv</string>
	<key>API_KEY</key>
	<string>AIzaSyChQGxOdyWh6lSo_hCX9F5fcOL4_hoCZjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>752802101996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.suslovaleksey.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-5b00b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-5b00b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752802101996:ios:97a42fb8aa0f3035b043c9</string>
</dict>
</plist>